*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background: linear-gradient(135deg,#667eea,#764ba2);
    overflow:hidden;
}

body::before{
    content:'';
    position:absolute;
    width:500px;
    height:500px;
    background:rgba(255,255,255,0.15);
    border-radius:50%;
    top:-150px;
    left:-150px;
    filter:blur(60px);
}

body::after{
    content:'';
    position:absolute;
    width:400px;
    height:400px;
    background:rgba(255,255,255,0.15);
    border-radius:50%;
    bottom:-100px;
    right:-100px;
    filter:blur(60px);
}

.container{
    position:relative;
    z-index:1;
}

.weather-card{
    width:380px;
    padding:30px;
    border-radius:25px;
    background:rgba(255,255,255,0.15);
    backdrop-filter:blur(15px);
    border:1px solid rgba(255,255,255,0.2);
    box-shadow:0 15px 35px rgba(0,0,0,0.25);
    text-align:center;
    color:white;
    transition:0.4s;
}

.weather-card:hover{
    transform:translateY(-8px);
}

.weather-card h1{
    margin-bottom:20px;
}

.search-box{
    display:flex;
    gap:10px;
    margin-bottom:25px;
}

.search-box input{
    flex:1;
    padding:12px;
    border:none;
    outline:none;
    border-radius:30px;
    background:rgba(255,255,255,0.2);
    color:white;
}

.search-box input::placeholder{
    color:#eee;
}

.search-box button{
    padding:12px 20px;
    border:none;
    border-radius:30px;
    background:#ffb703;
    color:#222;
    cursor:pointer;
    font-weight:bold;
    transition:0.3s;
}

.search-box button:hover{
    background:#ffd166;
    transform:scale(1.05);
}

.temp{
    font-size:70px;
    font-weight:bold;
    margin:15px 0;
}

.details{
    margin-top:20px;
    display:flex;
    justify-content:space-around;
    font-size:18px;
}